<h1>To Do</h1>
<main class="tasks-view container narrow">
     <section class="clearfix">
         <div class="column half">
             <!-- <img src={{album.albumData.albumArtUrl}} class="album-cover-art"> -->
         </div>
         <div class="tasks-view-details column half">
             <h2 class="tasks-view-number"></h2>
             <h3 class="tasks-view-description"></h3>
         </div>
     </section>
     <table class="tasks-view-task-list">
         <tr class="tasks-view-task">
            <td class="task-number">
                 <span >1</span>
                <a class="task-add-button"><span class="task-add"></span></a>
                <a class="task-delete-button"><span class="task-delete"></span></a>
             </td>
             <td class="task-description">Clean Litterbox</td>

         </tr>
     </table>
 </main>

